@import './vars'

input
  padding-left .5em 
  display flex
  flex-grow 1
  height 30px 
  border 1px solid rgba(0, 0, 0, .1) 
  font-family 'Roboto', 'Raleway', sans-serif 
  letter-spacing .5px
  border-radius 2px
  margin 0px
  color rgba(0, 0, 0, .7)

  &:focus
    outline none
    border 1px solid $color-blue !important
    box-shadow none 
