// Colors
$color-green = #84f766
$color-green-dark = #4da53c
$color-red = #ff6939
$color-red-dark = darken(#ff6939, 10%)
$color-orange = #ff7a38
$color-blue = #4dccff
$color-purple = #6e66ff
$color-black =  rgba(44,53,57, 1)
$color-yellow = rgba(255,191,0, 1)

// App
$color-background = lighten($color-black, 10%)

// Components
$color-component-background = $color-black

// Typography
$color-text = rgba(255, 255, 255, .85)
$color-text-invert = rgba(0, 0, 0, .85)